@import './variables.sass'

*
  box-sizing: border-box
  font-family: 'Inter', sans-serif
  position: relative

html, body
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p
  margin: 0
a
  text-decoration: none
  color: $color_text
  font-weight: $font_weight_medium
.container

main
  padding: 0px 20px
  &.search
    padding-top: 20px

input:focus
  outline: 1px solid $color_primary

@media screen and (min-width: $breakpoint_desktop)
  h1
    color: $color_text
