@import './variables.sass'

*
  box-sizing: border-box
  font-family: 'Inter', sans-serif
  position: relative

html, body
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p
  margin: 0
a
  text-decoration: none
  color: $color_text
  font-weight: $font_weight_medium
.container

main
  padding: 0px 20px
  &.search
    padding-top: 20px

input
  outline: none
  border: none
  background-color: transparent
  appearance: none
  font-size: 16px
  color: #5E5E5E
  border-radius: 0
  padding: 2px 0px

input[type='text']:focus
  outline: 1px solid $color_primary

input[type='checkbox']
  +block-size(30px)
  border: 2px solid #E5E5E5
  cursor: pointer
  border-radius: 50%
  background-color: none
  &:checked
    border: 2px solid transparent
    background-color: $color_primary
    background-image: url('/icons/check.png')
    background-size: 70%
    background-repeat: no-repeat
    background-position: 50% 75%

input[type='number']
  border-bottom: 1px solid #5E5E5E
  width: 60px

.participant
  .input_wrapper
    display: flex
    align-items: center
    gap: 5px
    label
      font-size: 16px
      color: rgba(#5E5E5E, 0.2)
      font-weight: $font-weight-regular
  .input_wrapper:has(.value_is_exist)
    label
      color: #5E5E5E

.icon
  img
    +block_size(100%)
    object-fit: cover

.datepicker__input
  border: none !important
  outline: none !important
  color: #5E5E5E !important
  font-weight: $font-weight-semibold
  font-size: 23px !important
  padding: 5px 0px !important
  border-radius: 0 !important
  border-bottom: 1px solid #5E5E5E !important

@media screen and (min-width: $breakpoint_desktop)
  h1
    color: $color_text
